<h1>Hey {{name}},</h1>

<h2>Thank you for joining Lystra! To activate your account and start exploring, please click the verification link
  below:</h2>

<h3><a href="http://localhost:{{port}}/auth/verify/{{token}}">
    Click Here
  </a></h3>

<h4>Best Regards,<br>Lystra Team</h4>