<h1>Hey {{name}},</h1>

<h2>Have you forgotten your password ? No worries ! Click here to set new
  password:</h2>

<h3><a href="http://localhost:{{port}}/auth/passwordVerify/{{token}}">
    Click Here
  </a></h3>

<h4>Best Regards,<br />Lystra Team</h4>